# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\th2-sim-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
